#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  /* Stacking the layers: [Color Layer], [Image Layer] */
  background: 
        /* 1. The color layer with opacity (a = 0.5) */ linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.9)
    ),
    /* 2. The image layer */
      url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/54046/glass_droplets.jpeg);

  /* Standard background properties */
  background-size: cover;
  background-position: center;
  color: #fff; /* Content remains opaque white */
}
